.App {
  text-align: center;
}

.mainHeader {
 
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  
}

.mainFooter {
 
    overflow:visible;
    background-color: #f1f1f1;
    padding: 20px 20px;
  
  }

.mapContainer {
  height: 600px;
   width: 800px;
}

.map {

zoom: normal;
align-self: center;

}

.homepageBody {
border-top-width: 2px;  

border-right-width: 2px;  

border-bottom-width: 2px;  

border-left-width: 2px;  

border-style: solid; 

border-color: #545f6f;  

text-align: center;

overflow-wrap: break-all;

width: 400px;

height: 450px;

font-size: 35px;




}





